.task2-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
.task-description {
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.workspace {
  padding: 3rem;
  text-align: center;
  background: #f5f5f5;
  border-radius: 8px;
  color: #999;

  .workspace-inputs,
  .message-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .workspace-header {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    input,
    select {
      height: 3rem;
      width: 100%;
      text-indent: 1rem;
    }

    textarea {
      height: 10rem;
      text-indent: 1rem;
      line-height: 2rem;
    }
  }

  button {
    height: 3rem;
    background: #667eea;
    color: #fff;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;

    &:hover {
      background: #556cd6;
    }
  }

  .error-message {
    color: red;
  }
}
